@use '../../styles/helpers' as *;

.variantCard {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: rem(28);
    border: 1px solid var(--color-dark);
    padding-block: rem(25);
    padding-inline: rem(60);
    width: rem(350);
    height: rem(100);

    transition-duration: var(--transition-duration);

    @include hover {
        background-color: #dfdfdf88;
        cursor: pointer;
    }
}